/* 
text:
  default: font-family: 'Roboto Slab', serif;
  highlights: font-family: 'Modak', cursive;
  data: font-family: 'Lato', sans-serif;
  banner title: font-family: 'Bangers', cursive;
colors (from darkest to lightest):
  #3D1C00
  #854612
  #BA743A
  #ECA870
  #FFD2AD
*/


body {
  background-color: #854612;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
ul {
  display: inline;
  padding: 0.5em;
  background-color: #854612;
  color: #FFD2AD;
  float: left;
  margin: 1em 5%;
  font-size: 1em;
}
li {
  text-align: left;
  font-family: 'Lato', sans-serif;
  background-color: #FFD2AD;
  color: black;
  padding: 2px;
}
h1 {
  font-size: 2.5em;
  font-family: 'Bangers', cursive;
  padding: 3px;
}
h3 {
  padding: 3px;
  font-size: 2.5em;
}
header {
  margin: 3%;
  padding: 2px;
  background-color: #3D1C00;
  color: #FFD2AD;
}
header td {
  padding: 0 2em;
}
#salesData {
  margin: 6px auto;
}
#salesData td {
  padding: 4px;
  font-family: 'Lato', sans-serif;
  color: #FFD2AD;
  border: 2px solid black;
}
td a:link {
  color: #FFD2AD;
}
td a:visited {
  color: #FFD2AD;
}