/* 
text:
  default: font-family: 'Roboto Slab', serif;
  highlights: font-family: 'Modak', cursive;
  data: font-family: 'Lato', sans-serif;
  banner title: font-family: 'Bangers', cursive;
colors (from darkest to lightest):
  #3D1C00
  #854612
  #BA743A
  #ECA870
  #FFD2AD
*/


body {
  background-color: #854612;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
h1 {
  font-size: 2.5em;
  font-family: 'Bangers', cursive;
  padding: 3px;
}
h3 {
  padding: 3px;
  font-size: 2.5em;
}
header {
  padding: 2px;
  background-color: #3D1C00;
  color: #FFD2AD;
}
header td a:link, header td a:visited {
  color: #FFD2AD;
}
#salesData {
  margin: 2em auto;
}
#salesData td {
  padding: 4px;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  background-color: #FFD2AD;
  border: 1px solid black;
}
#salesData thead td, #salesData td:first-child {
  background-color: #BA743A;
  border: 2px solid black;
}
#salesData td:last-child {
  font-weight: bold;
}
#tinySalmon {
  width: 3em;
}
nav {
  margin: 6px;
  padding: 0 2em;
}
nav td {
  padding: 0 6em;
}
p {
  font-size: 2em;
  color: #FFD2AD;
  font-family: 'Bangers', cursive;
  margin: 2em;
}
#storeAddForm {
  border: 2px ridge black;
  width: 200px;
  margin: 2em auto;
  padding: 6px;
  background-color: #ECA870;
  font-family: 'Lato', sans-serif;
}
input {
  background-color: #FFD2AD;
  margin: 3px;
  padding: 2px;
}
#storeAddForm fieldset input:last-child {
  background-color: #854612;
  color:  #FFD2AD;
  font-weight: bold;
}